*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  a {
      text-decoration:none;
    }
  
  
  ul,ol{
        list-style-type: none;
       }
  .container {
            width : 1200px;
            margin : 0 auto;
  }

 #starting{
  background-color: #363636;
 } 

 .starting{
   display: flex;
   line-height: 45px;
   color: #898989;
   font-size: 13px;
   font-family: 'Roboto', sans-serif;
   
 }

 .starting a{
  color: #898989;
 }
/*language part goes here*/
 .lingua{
   display: flex;
   padding-right: 40px;  
 }

.earth{
  padding-top: 2px;
  
}

.lingua-t{
  padding: 0 10px;
}

/*number part goes here*/
 .number{
   display: flex;
   padding-right: 50px;
   
 }
 .number-icon{
   font-size: 20px;
   padding-right: 10px;
 }
/*email part goes here*/
 .email{
   display: flex;
   padding-right: 220px;
 }
 .email-i{
   padding-right: 10px;
 }
/*sign part goes here*/
 .sign{
   display: flex;
   padding-right: 50px;
   
 }
 .sign-i{
   padding-right: 10px;
 }
 .sign-t a:hover{
   color: #8dc63f;
 }
 /*wishlist goes here*/
 .wishlist{
   display: flex;
   padding-right: 45px;
   
 }
 .wish-i{
   padding-right: 10px;
 }
 .wish-t i{
   padding-left: 10px;
   
 }

 .social ul li{
   display: inline-block;
 }
 .social ul li i{
   width: 20px;
   text-align: center;
   background-color: #898989;
   color: #363636;
   padding: 3px 0;
   border: 1px solid #898989;
   border-radius: 15%;
   margin-left: 5px;
 }
 .social ul li i:hover{
   background-color: #e5493a;
   border: 1px solid #e5493a;
 }


 /*starting part ends here*/

 /*navbar start here*/
 .nav{
   display: flex;
   background-color: #fff;
 }
 
 
 .logo{
   padding-right: 100px;
   padding-top: 30px;
 }
 
 .menu ul li{
   display: inline-block;
   line-height: 100px;
   
 }

 .menu ul li a{
   color: #555555;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   padding-right: 30px;
   text-transform: uppercase ; 
   position: relative;
  }
  .menu ul li a:hover{
    color: #e5493a;
  }
  .menu  ul li a:hover::after{
    width: 10%;
  }
  .menu ul li a::after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background-color:#e5493a;
    top: -10px;
    left: 0px;
    transition: all linear .3s;
  }
  
   .menu ul li i{
     padding-left: 5px;
   }

   .shopping {
    display: flex;
   line-height: 100px;
   padding-left: 80px;
  
   }

   .cart{
    color: #515151;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
   }
   .cart i{
     color: #363636;
     font-size: 20px;
     padding-left: 10px;
   }
   .search{
    color: #363636;
    font-size: 20px;
    padding-left: 20px;
   }

   /*banner part goes here*/
   #banner{
     height: 731.11px;
   }
   .banner{
     position: relative;
   }
  
   .banner-overply{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 731.11px;
   }

   .banner-text {
    text-align: center;
    align-self: center;
    padding-top: 200px;
    
}
.banner-text h1 {
    font-size: 68px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.banner-text h2 {
    font-size: 51px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.banner-text p {
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: 400;
    padding-left: 190px;
    padding-right: 190px;
    line-height: 30px;
    padding-bottom: 65px;
}

.banner-text a{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 20px 30px;
  margin: 0 15px;
  border-radius: 5%;
  transition: all linear 0.3s;
}

.banner-text a:hover{
  background-color: #363636;
  border: 2px solid #363636;
}

.arrow-left{
  position: absolute;
  top: 360px;
  left: 0;
}
.arrow-right{
  position: absolute;
  top: 360px;
  right: 0;
}

.arrow i{
  font-size: 20px;
  color: #faeae8;
  padding: 12px;
  background-color: #e95f52;
}
.arrow i:hover{
  background-color: #363636;
}
/*banner ends here*/

.porti-start{
  background-color: #363636;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.porti-start h2{
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  color: #959595;
  font-weight: 700;
  padding-bottom: 15px;
}

.porti-start h3{
  color: #707070;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;

}

/*porti main goes here*/
.porti-main{
  padding: 78px 0;
  background-color:#fafafa;
}

.porti-item{
  width:277.5px;
  text-align: center;
  background-color: #fff;
  position: relative;
}
.porti-icon i{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 45px;
  background-color: #363636;
  color: #fff;
  padding: 20px;
  border: 1px solid #363636;
  border-radius: 50%;
  margin-bottom: 30px;
}
.porti-item .mobile i{
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  background-color: #363636;
  color: #fff;
 width: 95px;
  border: 1px solid #363636;
  border-radius: 100%;
  margin-bottom: 30px;
}

.porti-item:hover .porti-icon i{
  background-color: #e5493a;
  border: 1px solid #e5493a;
}
.porti-item:hover .porti-text h1{
  color:#e5493a ;
}
.porti-item:hover .porti-text h1::after{
  background-color: #e5493a;
}
.porti-text h1{
  position: relative;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: #363636;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: capitalize;
  padding-top: 65px;
}

.porti-text h3{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  padding: 0 25px;
  padding-bottom: 60px;
}

.porti-text h1::after{
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  background-color:  #363636;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
}
.porti-main{
  display: flex;
  justify-content: space-between;
}
.our{
  background-color: #fff;
}
.our-t{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 75px;
}
.our-t h2{
  position: relative;
  color: #363636;
  font-size: 30px;
  text-transform: capitalize;
  padding-bottom: 25px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.our-t p{
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  padding: 0 305px;
  line-height: 20px;
  font-family: 'Raleway', sans-serif;
}

.our-t h2::after{
  position: absolute;
  content: '';
  width: 170px;
  height: 2px;
  background-color:  #363636;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

/*our liust goes here*/

.our-list{
  width: 780px;
  background-color: #fafafa;
  margin: 0 auto;
  margin-bottom: 40px;
}
.our-list ul li{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 15px;
  
}

.our-list ul li a{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 0 20px;
  color: #363636;
  text-transform: capitalize;
  position: relative;
 
}
.our-list ul li a:hover{
  color: #e5493a;
}

.our-list ul li:last-child{
  padding-right: 20px;
}
.our-list ul li:first-child{
  padding-left: 20px;
}

.our-list ul li a::after{
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color:#e5493a;
  top: 30px;
  left: 0px;
  transition: all linear .3s;
}
.our-list ul li a:hover::after{
  width: 100%;
}

/*aboout part goes here*/
.gallery{
  display: flex;
  
}
.gallery2{
  display: flex;
  margin-bottom: 55px;
}
.gal-item{
  width: 20%;
  position: relative;
 
}
.gal-item img{
 display: block;
  width: 100%;
  
}

.gal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 81, 81,0.85);
  display: flex;
  justify-content: center;
  opacity: 0;
}
.gal-item:hover .gal-overlay{
  opacity: 1;
}

.gal-content{
  padding-top: 40px;
  
}
.gal-content h3{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 15px;
  position: relative;
}
.gal-content h3::after{
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  background-color:#e5493a;
  top: 85px;
  left: 0px;
  transition: all linear .3s;
}

.gal-content h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  padding-bottom: 60px;
}

.gal-icon {
  text-align: right;
}
.gal-icon i {
  color: #fff;
  background-color: #252525;
  padding: 10px;
  border: 1px solid #252525;
  border-radius: 100%;
}
.gal-icon i:hover{
  background-color: #e5493a;
  border: 1px solid #e5493a;
}
.load{
  text-align: center;
  margin-bottom: 80px;
}
.load a{
  color: #fff;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #363636;
  padding: 15px 25px;
 
}

.about img{
  width: 100%;
  height: 635px;
}

.about{
  position: relative;
}
.about-overlay{
  position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
.about-text{
  text-align: center;
  padding-top: 78px;
  padding-bottom: 98px;
  
}
.about-text h3{
  position: relative;
  color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  
}
.about-text h3::after{
  position: absolute;
  content: '';
  width: 170px;
  height: 2px;
  background-color:#e5493a;
  top: 120px;
  left: 500px;
  
}

.about-text h4{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  padding: 0 315px;
  line-height: 20px;

}
.about-item{
  width: 277.5px;
  text-align: center;
}


.count h1{
  width: 150px;
  color: #fff;
  font-size: 30px;
  padding: 50px 20px;
  border: 5px solid #e5493a;
  border-radius: 50%;
  font-weight: 700;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.about-item h2{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #e5493a;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.about-item h2::after{
  position: absolute;
  content: '';
  width: 70px;
  height: 2px;
  background-color:#555555;
  top: 150px;
  left: 100px;
}

.about-item p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
}

.about-main{
  display: flex;
  justify-content: space-between;
}

/*chooose us part starts here*/
.us-header{
  padding-top: 80px;
  text-align: center;
  padding-bottom: 70px;
}

.us-header h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #363636;
  text-transform: capitalize;
  padding-bottom: 20px;
  position: relative;
}
.us-header h1::after{
  position: absolute;
  content: '';
  width: 170px;
  height: 2px;
  background-color:#555555;
  top: 120px;
  left: 520px;
}

.us-header p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
  padding: 0 315px;
}

.us{
  background-color: #fafafa ;
  height: 490px;
  
}

.our-item{
  
  width: 570px;
  display: flex;
  background-color: #f2f2f2; 
  margin-bottom: 8px;
  
}
.our-item:hover{
  background-color: #363636;
  transition: all linear 0.3s;
}
.our-item2{
  width: 570px;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
  padding:30px;
  
}
.our-item:hover .ourh h1{
  color: #fff;
}

.ourh h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #363636;
  text-transform: capitalize;
  padding: 15px;
  transition: all linear 0.3s;
}

.ourp{
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding-top: 18px;
  
  
}

.our-i button{

  width: 52px;
  height: 51px;
  text-align: center;
  align-self: center;
  background-color: #363636;
  border: 1px solid #363636;
  transition: all linear 0.3s;
  float: right;


}
.our-item:hover .our-i button{
  background-color: #e5493a;
  border: 1px solid #e5493a;
}
.our-item:hover .our-i i{
  transform: rotate(90deg);
}
.our-i i{
  color: #fff;
  font-size: 35px;
  transition: all linear 0.3s;
  
}

.our-item3{
  width: 570px;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
  padding:30px;
}
.our-item4{
  width: 570px;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
  padding:30px;
}
.our-item5{
  width: 570px;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  font-weight: 400;
  line-height: 20px;
  padding:30px;
}
.btn7{
  margin-left: 130.5px;
}
.btn8{
  margin-left: 162.5px;
}
.btn9{
  margin-left: 121.5px;
}
.btn10{
  margin-left: 202px;
}

.all-about-us{
  display: flex;
}
.mess-item{
  display: flex;
}


.mes-img{
  position: relative;
  margin-top: 5px;
}
.mess-overlay{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

.choose-us{
  display: flex;
  justify-content: space-between;
}

.mess-icon img{
  margin: 30px;
 
}
.mess-t-header{
  display: flex;
}
.mess-t-header{
  padding-top: 30px;
  padding-bottom: 10px;
}
.mess-head-h1{
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #363636;
  text-transform: capitalize;
}
.mess-website{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  padding-left: 115px;
  margin-top: 5px;
}
.mess-text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  padding-right: 35px;
  line-height: 20px;
}


/*choose parts ends here*/

/*blog parts start here*/
.blogheader{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;
}

.blogheader h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #363636;
  text-transform: capitalize;
  padding-bottom: 20px;
  position: relative;
}
.blogheader h1::after{
  position: absolute;
  content: '';
  width: 170px;
  height: 2px;
  background-color:#363636;
  top: 130px;
  left: 520px;
}
.blogheader p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  line-height: 20px;
  padding: 0 315px;
 
}
.blog-main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.blog-item{
  width: 570px;
  height: 270px;
  margin-right: 30px;
  display: flex;
  transition: all linear 0.3s;
  
}
.blog-text{
  padding-left: 30px;
  padding-right: 40px;
  background-color: #fafafa;
}
.blog-text h5{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #cccccc;
  padding-top: 25px;
  transition: all linear 0.3s;
}
.blog-text h5::after{
position: absolute;
content: '';
width: 70px;
height: 2px;
background-color:#363636;
top: 270px;
left: 0px;
transition: all linear .3s;
}
.blog-text h2{
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #363636;
  padding-top: 20px;
}
.blog-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  padding-top: 20px;
  line-height: 20px;
  padding-bottom: 28px;
}
.blog-text a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #363636;
  transition: all linear 0.3s;
}

.blog-img{
  position: relative;
}
.blog-img .camera{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #363636;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
#image{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background-color: #e5493a;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.blog-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 81, 81,0.85);
  display: flex;
  justify-content: center;
  opacity: 0;

}
.blog-item:hover .blog-overlay{
  opacity: 10;
}
.icons{
  position: absolute;
  top:  50%;
  left: 35%;
  transform: translateX(-50%);
  transform: translateY(-50%);
}
.icons ul li{
  display: inline-block;

}
.icons ul li a i{
  border: 1px solid #363636;
  border-radius: 50%;
  background-color: #363636;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  margin-left: 3px;
  
}
.icons ul li a i:hover{
  border: 1px solid #e5493a;
  background-color: #e5493a;

  
}

.blog-item:hover .blog-text h2{
  color: #e5493a;
}
.blog-item:hover .blog-text a{
  color: #e5493a;
}
.blog-item:hover .blog-text h5::after{
  background-color: #e5493a;
  width: 240px;
}

/*blog part ends here*/

/*theme parts starts here*/
.theme img{
  width: 100%;
  height: 825px;
}
.theme{
  position: relative;
}
.theme-overlay{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0 ;
  left: 0;
}
.theme-header{
  text-align: center;
  padding-top: 80px;
}
.theme-header h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #363636;
  padding-bottom: 15px;
  position: relative;
}

.theme-header p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  padding: 0 315px;
}

.theme-header h1::after{
  position: absolute;
  content: '';
  width: 170px;
  height: 2px;
  background-color:#363636;
  top: 110px;
  left: 520px;
}
.theme-main{
  float: right;
  padding-top: 110px;
}

.theme-item{
  width: 375px;
  display: flex;
  margin-bottom: 15px;
 
}
.theme-icon{
  width: 100px;
  height: 100px;
  border: 2px solid #fafafa;
  border-radius: 100%;
  background-color: #fafafa;
  text-align: center;
}
.theme-icon i{
  padding: 30px 0;
  font-size: 30px;
  
}
.theme-icon .phone{
  padding: 20px 0;
  font-size: 50px;
  
}
.theme-t{
  width: 250px;
  margin-left: 25px;

}

.theme-t h3{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #363636;
  padding-bottom: 10px;
  padding-top: 12px;
}
.theme-t p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #959595;
  line-height: 20px;
}

.theme-item:hover .theme-icon{
  border: 2px solid #e5493a;
}
.theme-item:hover .theme-icon i{
  color:  #e5493a;
}
.theme-item:hover .theme-t h3{
  color:  #e5493a;
}
.theme-item:hover .theme-t p{
  color:  #363636;
}
/*theme parts ends here*/

/*logo parts starts here*/
.logo-main img{
  width: 100%;
  margin-top: -32px;
  margin-bottom: -10px;
  
}
.logo-main{
  position: relative;
}
.logo-overlay{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.logo-item{
  width: 950px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.logo-icon img{
  width: 90%;
}
.logo-angle i{
  font-size: 30px;
  color: #fff;
  background-color: rgba(255, 255, 255,0.2);
  padding: 3px 10px 3px 10px ;
}
.logo-angle i:hover{
  
  background-color: #363636;
 
}
.logo-angle .left{
  position: absolute;
  content: '';
  top: 30%;
  left: 215px;
}
.logo-angle .right{
  position: absolute;
  content: '';
  top: 30%;
  right: 215px;
}

/*theme parts ends here*/

/*footer part starts here*/
#footer{
  background-color: #252525;
  height: 530px;
}
.footer{
  display: flex;
  
}
.exe-part{
  width: 280px;
  padding-top: 80px;
}
.header{
  display: flex;
  padding-bottom: 30px;
}
.header-h2{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #363636;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 15px;
}
.exe-part{
  margin-bottom: 50px;
}
.exe-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #636363;
  line-height: 20px;
  padding-bottom: 20px;
}
.exe-text a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #e5493a;
 
}
.form{
  padding-top: 42px;
  position: relative;
}

input[type=email], select {
  width: 90%;
  padding: 12px 20px;
  margin-bottom: 22px;
  background-color: #171717;
  display: inline-block;
  border: 1px solid #171717;
  box-sizing: border-box;
  color: #464646;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
}

.form h1{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
}

.form button{
  padding: 10px 20px;
  background-color: #171717;
  color: #464646;
  border: 0;
  font-size: 18px;
  position: absolute;
  right: 15px;
  border-radius: 5px;
}
.form a{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #464646;
  font-weight: 400;
  padding-top: 20px;
}
.latest-news{
  padding-top: 75px;
  margin-left: 20px;
}
.news-header h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 55px;
  position: relative;
}
.news-header h1::after{
  position: absolute;
content: '';
width: 70px;
height: 2px;
background-color:#e5493a;
top: 50px;
left: 0px;
}
.news-main{
  display: flex;
  position: relative;
  padding-bottom: 15px;
}
.news-text{
  padding-left: 20px;
}
.news-text h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 20px;
  padding-bottom: 10px;
  transition: all linear 0.3s;
}

.news-text h5::after{
  position: absolute;
  content: '';
  width: 275px;
  height: 2px;
  background-color:#363636;
  top: 90px;
  left: 0px;
}
.news-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
  padding-bottom: 30px;
  transition: all linear 0.3s;
}

.news-item {
  position: relative;
}
.news-overlay{
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  background-color: rgba(54, 54, 54,0.85);
  top: 0;
  left: 0;
  transition: all linear 0.3s;
  opacity: 0;

}
.news-overlay i{
  position: absolute;
  color: #fff;
  background-color: #252525;
  border: 1px solid #252525;
  border-radius: 100%;
  padding: 10px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);  
}
.news-main:hover .news-text h5{
  color: #e5493a;
}
.news-main:hover .news-text p{
  color: #fff;
}
.news-main:hover .news-overlay{
  height: 70%;
  opacity: 10;
}

.news-text2{
  padding-left: 20px;
}
.news-text2 h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 20px;
  padding-bottom: 10px;
  transition: all linear 0.3s;
}

.news-text2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
  padding-bottom: 30px;
  transition: all linear 0.3s;
}
.news-main:hover .news-text2 h5{
  color: #e5493a;
}
.news-main:hover .news-text2 p{
  color: #fff;
}
/*twitter widget part goes here*/
.twitter{
  padding-top: 75px;
  margin-left: 25px;
}
.widget-header h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 55px;
  position: relative;
}
.widget-header h1::after{
  position: absolute;
content: '';
width: 70px;
height: 2px;
background-color:#e5493a;
top: 50px;
left: 0px;
}

.widget-item i{
  font-size: 10px;
  color: #252525;
  background-color: #464646;
  padding: 5px;
  border: 1px solid #464646;
  border-radius: 100%;
  margin-top: 5px;
}
.widget-main{
  display: flex;
  width: 275px;
}
.widget-text{
  padding-left: 15px;
}
.widget-text h2{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 20px;
  position: relative;
}
.widget-text h2::after{
  position: absolute;
  content: '';
  width: 270px;
  height: 2px;
  background-color:#363636;
  top: 100px;
  left: -25px;
}
.widget-text h5{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.widget-text b{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.widget-text p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #464646;
  padding-top: 15px;
  padding-bottom: 40px;
}

.widget-text2{
  padding-left: 15px;
  padding-top: 15px;
}
.widget-text2 h2{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 20px;
  position: relative;
}
.widget-text2 b{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.widget-text2 p{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #464646;
  padding-top: 15px;
  padding-bottom: 40px;
}

.widget-item2 i{
  font-size: 10px;
  color: #252525;
  background-color: #464646;
  padding: 5px;
  border: 1px solid #464646;
  border-radius: 100%;
  margin-top: 20px;
}

/*get in touch parts start here*/
.getintouch{
  padding-top: 75px;
  margin-left: 25px;
}
.get-header h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
  padding-bottom: 55px;
  position: relative;
}
.get-header h1::after{
  position: absolute;
content: '';
width: 70px;
height: 2px;
background-color:#e5493a;
top: 50px;
left: 0px;
}
.get-main{
  width: 285px;
  display: flex;
  margin-bottom: 35px;
}
.get-item{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  padding-right: 45px;
  position: relative;
}
.get-item::after{
  position: absolute;
  content: '';
  width: 270px;
  height: 2px;
  background-color:#363636;
  top: 70px;
  left: 0px;
}
.get-item2{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  padding-right: 50px;
  position: relative;
}
.get-item2::after{
  position: absolute;
  content: '';
  width: 270px;
  height: 2px;
  background-color:#363636;
  top: 60px;
  left: 0px;
}
.get-item3{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  padding-right: 55px;
  position: relative;
}
.get-item3::after{
  position: absolute;
  content: '';
  width: 270px;
  height: 2px;
  background-color:#363636;
  top: 60px;
  left: 0px;
}
.get-item4{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  padding-right: 30px;
  position: relative;
}
.get-text{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  line-height: 20px;
  padding-left: 20px;
}
.get-text:hover{
 color: #e5493a;
}
.get-text b{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #636363;
}

.get-text4 ul li{
  display: inline-block;
  margin-bottom: 5px;
}
.get-text4 ul li i{
  font-size: 10px;

  text-align: center;
  background-color: #464646;
  color: #252525;
  padding: 2px 3px;
  border: 1px solid #464646;
  border-radius: 15%;
  margin-left: 3px;
}
.get-text4 ul li i:hover{
  background-color: #e5493a;
  border: 1px solid #e5493a;
}


/*ending part goes here*/
#ending{
  background-color: #111111;
  padding: 30px 0;
}
.ending{
  display: flex;
  justify-content: space-between;
}
.design{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #464646;
}
.design a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #696969;
}

.ending-menu ul li{
  display: inline-block;
}
.ending-menu ul li a{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #464646;
  text-transform: capitalize;
  padding-right: 20px;
  transition: all linear 0.3s;
}
.ending-menu ul li a:hover{
  color: #e5493a;
}

/*back-to-top goes here*/
.back-to-top{
  position: fixed;
  right: 80px;
  bottom: 310px;
  opacity: 100;
  display: none;
}
.back-to-top i{
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: #1c1c1c;
  color: #505050;
  text-align: center;
  line-height: 50px;
  border: 25%;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%)
}
.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: inline-block;
  margin: 0 2px;
  top: 0;
 
}
.slick-dots  li button{
  position: absolute;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e5493a;
  color: transparent;
  border: 0;
  opacity: 0;
  transition: all linear .3s;
}
.slick-dots li.slick-active button {
  opacity: 1;
}

/*preloader part goes here*/

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
 
  z-index: 9999999;
  background: #101010;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.square {
	width: 80px;
	height: 20px;
	display: flex;
	justify-content: space-between;
}
.circle {
	height: 20px;
	width: 20px;
	border-radius: 50%;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
		opacity: 0%;
	}
	40% {
		opacity: 20%;
	}
	100% {
		transform: rotate(360deg);
		opacity: 100%;
	}
}
@keyframes color {
	from {
		background: #0f4c75;
	}
	to {
		background: #3282b8;
	}
}

.square {
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
}
.circle {
	animation-name: color;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transition-timing-function: linear;
}
.circle {
	background: red;
}

